<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tourismbangla.tourbangla" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme" >
        <activity
            android:name=".Accomodation"
            android:label="@string/app_name" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".SpotReview"
            android:label="@string/title_activity_spot_review" >
        </activity>
        <activity
            android:name=".ReviewItem"
            android:label="@string/title_activity_review_item" >
        </activity>
        <activity
            android:name=".ValidateSpotDescription"
            android:label="@string/title_activity_validate_spot_description" >
        </activity>
        <activity
            android:name=".EditSpotDescription"
            android:label="@string/title_activity_edit_spot_description" >
        </activity>
        <activity
            android:name=".AddReview"
            android:label="@string/title_activity_add_review" >
        </activity>
        <activity
            android:name=".Spotlisting"
            android:label="Spotlisting" >
        </activity>
        <activity
            android:name=".SpotDetails2"
            android:label="@string/title_activity_spot_details2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserRating"
            android:label="@string/title_activity_user_rating" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
    </application>

</manifest>
